.project-list {
    /*margin: 0;
    padding: 0;
    list-style: none;*/
    display: grid;
        /*grid-template-columns: 
            [full-width-start] minmax(1rem, 1fr)  
            [highlight-start] minmax(1rem, .25fr) 
            [content-start] min(100% - 2rem, 1000px)  
            [content-end] minmax(1rem, 1fr) 
            [highlight-end] minmax(1rem, .25fr) 
            [full-width-end];*/
         
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-list li {
    margin-top: 25px;
    grid-column: content;
}

.project-list li.highlight{
    grid-column: full-width; 
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-top: 50px;
}


.project-collage-grid {
    --gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--gap) * 5);
    padding: 50px 0;
    background-image: linear-gradient( #fff, 50% #efefef); 
}

@media screen and (min-width: 768px){
    .project-collage-grid {
        grid-template-columns: .6fr .4fr;
    } 
}

.project-main-image {
    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-template-areas: "main sub-1""main sub-2";
    align-items: center;
    grid-gap: var(--gap);
}

.main-image {
    grid-area: main;
}

.sub-image {
    grid-area: sub-1;
}

.sub-image2 {
    grid-area: sub-2;
}



.project-features-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
}

@media screen and (min-width: 768px){
    .project-features-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-item {
    padding: var(--section-p);
}

@media screen and (max-width: 767px){
    .project-feature-grid-item{
        display: grid;
        grid-gap: var(--gap);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
   .project-feature-grid-item:nth-child(2) { 
        flex-flow: column-reverse;
    }
}

.project-item-btn {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: var(--gap);
    align-items: center;
}

.project-item-btn h2{
    text-align: left;
}

 