.project-list { 
    padding: 0 var(--gap);
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    line-height: 1.5;
}



.project-list__item {
    border-top: 1px solid #ccc;
    padding-top: 25px;
    margin-top: 25px;
    grid-column: content;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(1, .5fr);
    grid-template-areas: 
        "image title" 
        "image tags"
        "materials materials" 
        "description description" 
        "links links"; 
}

@media screen and (min-width: 768px){
    .project-list__item { 
        grid-template-columns: 300px auto;
        grid-template-areas: 
            "image title" 
            "image tags"
            "image materials" 
            "image description" 
            "image links"; 
    }

}

.project-list__thumb-image{
    grid-area: image;
}

.project-list__title{
    grid-area: title;
}

.project-list__filter-tags{
    grid-area: tags;
}

.project-list__materials{
    grid-area: materials;
}

.project-list__description{
    grid-area: description;
}

.project-list__sample-links{
    grid-area: links;
}

.project-list__item.highlight{
    grid-column: full-width; 
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-top: 50px;
}




.project-collage-grid {
    --gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--gap) * 5);
    padding: 50px 0;
    background-image: linear-gradient( #fff, 50% #efefef); 
}

@media screen and (min-width: 768px){
    .project-collage-grid {
        grid-template-columns: .6fr .4fr;
    } 
}

.project-main-image {
    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-template-areas: "main sub-1""main sub-2";
    align-items: center;
    grid-gap: var(--gap);
}

.main-image {
    grid-area: main;
}

.sub-image {
    grid-area: sub-1;
}

.sub-image2 {
    grid-area: sub-2;
}



.project-features-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
}

@media screen and (min-width: 768px){
    .project-features-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-item {
    padding: var(--section-p);
}

@media screen and (max-width: 767px){
    .project-feature-grid-item{
        display: grid;
        grid-gap: var(--gap);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
   .project-feature-grid-item:nth-child(2) { 
        flex-flow: column-reverse;
    }
}

.project-item-btn {
    display: grid;
    //grid-template-columns: 100px auto;
    grid-gap: var(--gap);
    align-items: center;
}

.project-item-btn h2{
    text-align: left;
}

.project-list__filter-tags-list{
    margin-left: 0;
    --gap: 10px;
}

.project-list__filter-tags-list li{
    background: #efefef;
    list-style: none;
    margin: 0; 
    padding: var(--gap);
    border-radius: calc( var(--border-radius) * 2);
    display: inline-block;
    font-size: 12px;
}


.project-list__materials{
    display: flex;
    text-align: left;
    align-items: center;
    gap: var(--gap);
}

.project-list__materials-list{ 
    display: flex; 
    margin: 0;
    padding: 0;
    gap: var(--gap);
    align-items: center;
}

.project-list__materials-list li{  
    list-style: none;
    margin: 0;  
    display: inline-block;
    font-size: 12px;
}
