.project-list {
    /*margin: 0;
    padding: 0;
    list-style: none;*/
    display: grid;
        grid-template-columns: 
            [full-width-start breakout-left-start] minmax(1rem, 1fr)  
            [content-start breakout-right-start] min(100% - 2rem, 60rem)  
            [content-end breakout-left-end] minmax(1rem, 1fr) 
            [breakout-right-end full-width-end];
         
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-list li {
    margin-top: 25px;
    grid-column: content;
    display: grid; 
}

.project-list li.full{
    grid-column: full-width; 
}


.project-collage-grid {
    --gap: 5px;
    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-gap: calc(var(--gap) * 5);
    padding: 50px;
    background-image: linear-gradient(#fff, #efefef);
    border-bottom: 1px solid #aaa;
}

.project-main-image {
    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-template-areas: "main sub-1""main sub-2";
    align-items: center;
    grid-gap: var(--gap);
}

.main-image {
    grid-area: main;
}

.sub-image {
    grid-area: sub-1;
}

.sub-image2 {
    grid-area: sub-2;
}

.project-features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap);
}

.project-item {
    padding: var(--section-p);
}

.project-feature-grid-item:nth-child(2) {
    display: flex;
    flex-flow: column-reverse;
}

.project-item-btn {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: var(--gap);
    align-items: center;
}

 